@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    rgba(147, 25, 163, 0.8) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
}

button {
  background: #1646a0;
  color: #fff;
  padding: 0, 45px;
  border: 2px solid #fff;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #0923af;
}
